<h1 class="jumbotron text-center" id="main-header">Welcome to the Task Manager</h1>

<ul class="nav nav-pills">
  <li><button type="button" class="btn btn-default btn-lg"><a href="/tasks" class="link">Task Index</a></button></li>
  <li><button type="button" class="btn btn-default btn-lg"><a href="/tasks/new" class="link">New Task</a></button></li>
</ul>