<a href="/tasks"><button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"> Task Index</a></span>
</button>

<div class="row" id="individual-task">
<h1 class="text-uppercase"><%= @task.title %></h1>
</div>

<div class="row" id="task-description"
<p class="lead"><%= @task.description %></p>
</div>